body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#field_map {
  height: calc(100vh - 80px) !important;
}

div[role=main] {
  padding: 0 0 0 0;
}

div.leaflet-Returns-pane path.leaflet-interactive:hover {
  fill: #FDD20E;
}

div.leaflet-Watersheds-pane, div.leaflet-WetDry-pane {
  mix-blend-mode: multiply;
}

#invmassControlPanel {
  background: white;
  padding: 1em;
}

#mapControls {
  margin-top: 1em;
  margin-bottom: 1em;
}

#resetButton {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sidebar-message {
  margin-top: 1em;
  margin-bottom: 1em;
}

#filter_guidance {
  font-weight: bold;
}

#loading_radio, #reset_guidance {
  font-style: italic;
}

#download_buttons {
  background: white;
  padding: 1em;
}
.download_button {
  display: list-item;
  background-color: none;
  border: none;
  text-align: left;
  list-style-type: none;



}
